{% extends 'EsgiBlogBundle::layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    {{ parent() }}

    <h2>Derniers articles</h2>

    <table class="table table-hover">
        <tbody>
            {% for post in publishedPosts %}
            <tr>
                <td>
                    <h3>
                        <a href="/article/get/{{ post.slug }}">
                            {{ post.title }}
                        </a>
                    </h3>

                    <p>{{ post.body[:20]|striptags ~ ' ...' | raw}}</p>

                    <a href="/article/get/{{ post.slug }}" class="text-primary pull-right">
                        Lire la suite
                    </a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block sidebar %}
    <h2>Category</h2>
    {% if categories is defined %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="/article/category/{{category.name}}">{{category.name}}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        Pas de categorie enregistrée.
    {% endif %}

{% endblock %}
