{% extends 'EsgiBlogBundle::layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

{% for post in publishedPost %}
    <div class="page-header">
        <h1>
            {{ post.title }}
            <small>
                le {{ post.updated|date("d M Y, h:s") }}
            </small>
        </h1>
    </div>
    
    <p>
        {{ post.body }}
    </p>
{% endfor %}

<div class="page-header">
    <h3>
        Derniers commentaires
    </h3>
</div>

<table class="table table-hover">
    <tbody>
        {% for comment in publishedComments %}
            <tr>
                <td>
                    {{comment.name}}
                </td>
                <td>
                    {{comment.content}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="flash notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="page-header">
    <h3>
        Ajouter un commentaire
    </h3>
</div>

{% form_theme form 'EsgiBlogBundle:Form:comment.html.twig' %}

<form class="horizontal-form">
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>

    <div class="form-group">
        {{ form_row(form.content) }}
    </div>

    {{ form_widget(form.save) }}
</form>

{% endblock %}
