{% extends 'EsgiBlogBundle::layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    {{ parent() }}

    <h2 class="pull-left">Derniers articles</h2>

    <a href="/article/propose" class="btn btn-success btn-lg pull-right">Proposer un article</a>

    <div class="clearfix"></div>

    <table class="table table-hover">
        <tbody>
            {% for post in publishedPosts %}
            <tr>
                <td>
                    <h3>
                        <a href="/article/get/{{ post.slug }}">
                            {{ post.title }}
                        </a>
                    </h3>

                    <p>{{ post.body[:20]|striptags ~ ' ...' | raw}}</p>

                    <a href="/article/get/{{ post.slug }}" class="text-primary pull-right">
                        Lire la suite
                    </a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <a href="/articles/1" class="btn btn-primary btn-sm pull-right">Tous les articles</a>

    <div class="clearfix"></div>

{% endblock %}

{% block sidebar %}
    <h2>Category</h2>
    {% if categories is defined %}
        <div class="list-group">
            {% for category in categories %}
                <a href="/article/category/{{category.name}}" class="list-group-item">{{category.name}}</a>
            {% endfor %}
        </div>
    {% else %}
        Pas de categorie enregistrée.
    {% endif %}

{% endblock %}
