{% extends 'EsgiBlogBundle::layout.html.twig' %}

{% block title 'Proposer Article' %}

{% block body %}
    <div class="page-header">
        <h1>
            Proposer un article
        </h1>
    </div>

	{% for flashMessage in app.session.flashbag.get('success') %}
	    <div class="flash notice">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	{% form_theme form 'EsgiBlogBundle:Form:form.html.twig' %}

	<form>
		<div class="form-group">
			{{ form_row(form.title) }}
		</div>

		<div class="clearfix"></div>

		<div class="form-group">
			{{ form_row(form.body) }}
		</div>

		<div class="clearfix"></div>

		<div class="form-group">
			{{ form_row(form.category) }}
		</div>

		<div class="clearfix"></div>

		{{ form_widget(form.save) }}
	</form>

{% endblock %}

{% block sidebar %}
	<h2>Catégorie</h2>
{% endblock %}
