{% block text_label %}
	{% set label = attr.label %}
	{% set placeholder = attr.placeholder %}

    <label for="{{ placeholder }}" class="col-sm-2 control-label">{{ label }}</label>
{% endblock %}

{% block text_widget %}
    <div class="col-sm-10">
        {% set type = type|default('text') %}

        <input type="{{ type }}" class="form-control col-xs-4" {{ block('widget_attributes') }} value="{{ value }}" />
    </div>
{% endblock %}

{% block textarea_label %}
	{% set label = attr.label %}
	{% set placeholder = attr.placeholder %}

    <label for="{{ placeholder }}" class="col-sm-2 control-label">{{ label }}</label>
{% endblock %}

{% block textarea_widget %}
    <div class="col-sm-10">
        <textarea class="form-control tinymce col-xs-4" {{ block('widget_attributes') }} rows="3"></textarea>
    </div>
{% endblock %}

{% block submit_widget %}
	{% set label = attr.label %}

    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">{{ label }}</button>
    </div>
{% endblock %}
