{% block text_label %}
	{% set label = attr.label %}
	{% set placeholder = attr.placeholder %}

    <label for="{{ placeholder }}" class="col-sm-2 control-label">{{ label }}</label>
{% endblock %}

{% block text_widget %}
    {% set type = type|default('text') %}

    <input type="{{ type }}" class="form-control col-xs-4" {{ block('widget_attributes') }} value="{{ value }}" />
{% endblock %}

{% block textarea_label %}
	{% set label = attr.label %}
	{% set placeholder = attr.placeholder %}

    <label for="{{ placeholder }}" class="col-sm-2 control-label">{{ label }}</label>
{% endblock %}

{% block textarea_widget %}
    <textarea class="form-control col-xs-4" {{ block('widget_attributes') }} rows="3"></textarea>
{% endblock %}

{% block submit_widget %}
	{% set label = attr.label %}

    <button type="submit" class="btn btn-primary">{{ label }}</button>
{% endblock %}
